# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 依存ライブラリ
node_modules/

# ビルド成果物
dist/
dist-electron/
release/

# ローカル環境設定・キャッシュ
.DS_Store
*.log
.vscode/

# テストファイルの場所
test_files/